# Data files
data/*.fastq.gz
data/*.fq.gz
*.fastq.gz
*.fq.gz

# Results
multiqc_clean_env/
results/fastqc/zips
work/
.nextflow*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.log

# SSH agent socket files
ssh-agent*
$(ssh-agent -s)*
eval*ssh-agent*

# script to make fake DB and decrease file size
setup_fohm_databases
create_small_nanopore